strong
	color: $marked
	font-weight: 400

.btn
	padding: 1em 2em
	background: $marked
	text-align: center
	color: white
	display: inline-block
	cursor: pointer
	font-weight: 700
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0,235,127,1)
	-moz-box-shadow: 0px 0px 30px -5px rgba(0,235,127,1)
	box-shadow: 0px 0px 30px -5px rgba(0,235,127,1)

.btn_round
	border-radius: 5em

.btn_stable_50pt
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.btn_center
	margin-left: auto
	margin-right: auto

.net-background
	position: absolute
	width: calc(100% - 60px)
	height: calc(100% - 30px)
	z-index: -1

.net-background__line
	position: relative
	height: 100%
	border-right: 1px solid #ececec

.net-background__line_first
	border-left: 1px solid #ececec

.photo_floating
	position: -webkit-sticky
	position: sticky
	img
		width: 80%

.photo_right
	transform: none
	text-align: right

.photo_left
	transform: none
	text-align: left

.photo_round
	border-radius: 5px

.photo_floating-20tp
	top: 20px

.icon
	width: 20px
	right: -10px
	position: absolute
	opacity: 1
	background: white
	z-index: 0

#icon-1
	top: 10%
#icon-4
	top: 18%
#icon-7
	top: 27%
#icon-10
	top: 37%
#icon-13
	top: 45%
#icon-16
	top: 54%
#icon-19
	top: 60%
#icon-22
	top: 66%
#icon-25
	top: 73%
#icon-28
	top: 79%
#icon-31
	top: 86%
#icon-34
	top: 94%

#icon-2
	top: 5%
#icon-5
	top: 20%
#icon-8
	top: 31%
#icon-11
	top: 40%
#icon-14
	top: 48%
#icon-17
	top: 57%
#icon-20
	top: 63%
#icon-23
	top: 70%
#icon-26
	top: 76%
#icon-29
	top: 82%
#icon-32
	top: 89%
#icon-35
	top: 96%

#icon-3
	top: 3%
#icon-3-1
	top: 12%
#icon-3-2
	top: 17%
#icon-6
	top: 24%
#icon-9
	top: 32%
#icon-12
	top: 42%
#icon-15
	top: 48%
#icon-18
	top: 59%
#icon-21
	top: 67%
#icon-24
	top: 73%
#icon-27
	top: 80%
#icon-30
	top: 87%
#icon-33
	top: 92%

.floating-box
	text-align: center
	background: white
	border: 2px solid $fourthfont
	background: white
	margin-left: 16px
	margin-right: 16px

.floating-box_round
	border-radius: 5px

.floating-box__header
	background: $fourthfont
	padding-top: 12px
	padding-bottom: 12px
	h2
		font-size: 1em
		display: inline-block

.floating-box__content
	.btn
		transform: translateY(50%)

.floating-box__content
	padding: 16px
	padding-bottom: 0
	h3
		margin: 0
		font-size: 1.6em

.marked-element
	color: $marked

.section-header
	text-align: center
	h1
		font-size: 3em

.form-group
	margin-right: 1em
	padding: 1em
	padding-left: 0
	label
		color: $marked

.form__input
	border: none
	padding-top: 12px
	padding-bottom: 12px
	width: 100%
	color: $marked

.form__input_on-footer
	background: transparent
	border-bottom: 2px solid $foreground
	&:active, &:focus
		border: 0
		outline: 0
		border-bottom: 2px solid $marked

.img-bg
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	overflow: hidden
	background-size: cover
	background-position: center
