.wrapper
	position: relative

.row
	display: flex
	flex-direction: row
	flex: 1 auto
	flex-wrap: wrap
	+md
		flex-wrap: nowrap

.row_separated
	margin-top: 1em
	margin-bottom: 256px

.col
	display: flex
	flex-direction: column
	flex: 1 1 auto
	flex-wrap: wrap
	order: 2
	+md
		order: initial


.col_50
	width: 100%
	+md
		width: 50%

.col_with-photo
	order: 1
	+md
		order: initial
