.main__heading
	max-width: 1200px
	text-align: left
	margin-left: auto
	margin-right: auto
	h1
		font-size: 1.5em
		font-weight: 300

.main__heading_additional
	p
		font-weight: 300
		font-size: 1.2em
		color: $secondfont
