@import "_outer-imports"
@import "_variables"
@import "_mixins"

body
	background: white
	padding: 0
	margin: 0
	font-family: 'Fira Sans', sans-serif
	overflow-x: hidden
	letter-spacing: 0.06425em
	color: $mainfont

ul, ol
	list-style-type: none
	list-style: none

h1, h2, h3, h4, h5, p
	color: $mainfont
	line-height: 2.4em

a
	&, &:active, &:hover, &:focus
		text-decoration: none
		color: $mainfont

.wrapper
	padding: 30px
	padding-top: 0

textarea
	resize: none
